
<header class="site-header">
  <div class="container">
    <h1 class="logo">{{ shop.name }}</h1>
    <nav>
      <a href="/">Accueil</a>
      <a href="/collections/cars">Voitures</a>
    </nav>
  </div>
</header>
